/* src/components/Customer.css */
.dashboard{
  padding: 0 0;
  gap: 2rem;
}
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  font-size: 16px;
}

button {
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #0056b3;
}

.status-buttons{
  border-bottom: 1px solid rgb(249 249 249);
  padding-bottom: .7rem;
}

.status-buttons button {
  background-color: transparent;
  color: rgb(67, 67, 67); 
  border-radius: .4rem;
  font-weight: 500;
}

.status-buttons button:hover {
  color: blue;
}

button.activate {
  /* color: blue !important; */
}

button.activate:hover {
  background-color: #218838; /* Darker green for hover effect */
}

button.inactive {
  background-color: #dc3545; /* Red color for in.inactive */
}

button.inactive:hover {
  background-color: #c82333; /* Darker red for hover effect */
}

button.add {
  background-color: #007bff; /* Blue color for add customer */
}

button.add:hover {
  background-color: #0056b3; /* Darker blue for hover effect */
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  /* border: 1px solid #ddd; */
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.status-active {
  background-color: #d4edda; /* Light green for active customers */
}

.status-pending {
  background-color: #fff3cd; /* Light orange for pending customers */
}

.status-inactive {
  background-color: #f8d7da; /* Light red for inactive customers */
}
/* Style for approved status */
.active {
  background-color: lightgreen;
}

/* Style for pending status */
.pending {
  background-color: orange;
  opacity: 0.6; /* Faded effect */
}

/* Style for in.inactived status */
.inactive {
  background-color: red;
  opacity: 0.5; /* Faded effect */
}
