/* src/components/Header/Header.css */

.header {
    /* background-color: #0b9927; */
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.header nav ul {
    list-style-type: none;
    padding: 0;
}

.header nav ul li {
    /* display: inline; */
    margin: 0 15px;
}

.header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.header nav ul li a:hover {
    text-decoration: underline;
}
.logout-container {
    position: absolute;
    top: 10px;
    right: 20px;
}

.logout-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logout-button:hover {
    background-color: #ff3333;
}
