/* src/components/Header/Header.css */

.header {
    /* background-color: #0b9927; */
    /* color: #fff; */
    /* padding: 10px; */
    text-align: center;
    width: 100%;
    display: flex;
    place-items: center;
}

.header nav ul {
    list-style-type: none;
    padding: 0;
}

.header nav ul li {
    /* display: inline; */
    margin: 0 15px;
}

.header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.header nav ul li a:hover {
    text-decoration: underline;
}
.logout-container {
    margin-left: auto;
}

.heading{
    /* margin-left: auto; */
    margin-right: auto;
    font-weight: normal;
}

.logout-button {
    background-color: transparent;
    padding: 1rem 1rem;
    height: 10px;
    border-radius: .2rem;
    display: grid;
    place-content: center;
    p{
        color: #28262C;
        font-weight: 600;
    }
}

.logout-button:hover {
    background-color: #d7d7d7;
}
